/* this is the style sheet */


.mainheader{
    background-color: teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    font-size: x-large;
}
.subheader{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: teal;
    font-size: large;
}
.paragraph{
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    color: black
    text-align: justify;
}
.imgsetting {
    float: left; 
    margin: 5px;
}